main {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}


main > notes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
}

main > notes note {
    padding: 10px;
    border: 1px solid var(--border);
    border-radius: 10px;
    max-height: 111px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    cursor: pointer;
    transition: background-color 250ms;
    overflow: hidden;
    position: relative;
}

main > notes note:hover {
    background-color: var(--hover);
}

main > notes note::after {
    content: "";
    height: 40px;
    width: 100%;
    /* background: linear-gradient(0deg, var(--bg) 0%, transparent 100%); */
    background: linear-gradient(0deg, var(--bg) 0%, var(--bg) 40%, transparent 100%);

    position: absolute;
    top: 100px;
    left: 0;
}

main > notes note > .header {
    display: flex;
    align-items: center;
    gap: 10px;
}

main > notes note .title {
    font-weight: 700;
    font-size: 18px;
}

main > notes note #indicator {
    height: 10px;
    aspect-ratio: 1;
    border: 1px solid var(--border);
    border-radius: 50px;
    transition: border 250ms, background-color 250ms;
}

main > notes note #indicator[data-job="done"] {
    border: 1px solid green;
    background-color: green;
}


/* Searchbar */
.search {
    z-index: 11;
    display: flex;
    gap: 5px;

    position:sticky;
    top: 10px;
    left: 0;
}

.search img {
    height: 20px;
}

.search input {
    background-color: var(--bg);
    border: none;
    outline: none;
    font-size: 16px;
    flex-grow: 1;
}

.searchbarback {
    z-index: 10;
    position: fixed;
    top: -41px;
    /* top: 0; */
    left: 0;
    width: 100%;
    height: 40px;
    background-color: var(--bg);
    border-bottom: 1px solid var(--border);
}